using System;
using System.Reflection;
using System.Runtime.InteropServices;

[assembly: ComVisible(false)]
[assembly: AssemblyConfiguration("${configuration}")]
[assembly: AssemblyCompany("${company}")]
[assembly: AssemblyProduct("${product}")]
[assembly: AssemblyCopyright("Copyright (c) ${company} 2008")]
[assembly: CLSCompliant(false)]
[assembly: AssemblyVersion("${version}")]
[assembly: AssemblyFileVersion("${version}")]
[assembly: AssemblyDescription("Built on: ${built_on}")]
