# ruby stuff
lib/rake_dotnet.rb
pkg/

# Demo / .NET stuff
presentation/DemoRoot/Demo/*/*/bin/
presentation/DemoRoot/Demo/*/*/obj/
presentation/DemoRoot/Demo/_ReSharper.Demo/
*.suo
*.resharper.user
*proj.user
AssemblyInfo.cs
out/

# Stuff I don't want to shove into the git repository by accident
presentation/DemoRoot/3rdparty/*/
*.intermediate
*.end_result
*.cache