# ruby stuff
pkg/

# Demo / .NET stuff
presentation/DemoRoot/Demo/*/*/bin/
presentation/DemoRoot/Demo/*/*/obj/
presentation/DemoRoot/Demo/_ReSharper.Demo/
*.suo
*.resharper.user
*proj.user
AssemblyInfo.cs
out/
_ReSharper*
[bB]in
[dD]ebug
[rR]elease
obj
lib/RakeDotNet/src/**/*.dll
lib/RakeDotNet/src/**/*.pdb

# Stuff I don't want to shove into the git repository by accident
presentation/DemoRoot/3rdparty/*/
presentation/*/*.[ab]
*.intermediate
*.end_result
*.cache
.assembly_info_task_stamp
*.ndepend.xml
NDependProLicense.xml

doc
coverage
.idea
version.txt